.grid-container {
  display: grid;
  grid-template-columns: 250px 100px 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px; 
  grid-gap: 50px;
  padding: 50px;
  text-align: center;
  justify-content: center;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
h1 {text-align: center;}

body{
background: rgb(87,153,182);
background: linear-gradient(180deg, rgba(87,153,182,1) 0%, rgba(145,187,209,1) 0%, rgba(255,247,187,1) 100%);}

.item1 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}

.item2 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}


.item3 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}


.item4 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}


.item5 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}


.item6 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}


.item7 {
  position: relative;
  border-radius: 50%;
  width: 100%;
  height: auto;
  padding-top: 100%;
  background: white;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 150px;
  margin-bottom: 100px;
  cursor: pointer;
  font-size: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 100px;
  width: 100px;
  background-color: #eee;
  checkmark-gap: 20px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #4EE370;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

input[type=text] {
  color: rgba(255, 255, 255, 0.8);
  color: black;
  border: none;
  font-size: 30px;
  text-align: center;
}

Homepage{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgba(255, 255, 255, 0.8);
  color: white;
  justify-content: center;
}

.Homepage-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.react-player-media{
  text-align: center;
  justify-content: center;
}