.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.grid-container {
	display: grid;
	grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
	grid-template-rows: 100px 100px 100px 100px 100px 100px 100px; 
	grid-gap: 50px;
	padding: 50px;
	justify-content: center;
  }
  
  .grid-container > div {
	background-color: rgba(255, 255, 255, 0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 30px;
  }
  
  body{
  background: rgb(87,153,182);
  background: linear-gradient(180deg, rgba(87,153,182,1) 0%, rgba(145,187,209,1) 0%, rgba(255,247,187,1) 100%);}
  
  .gridbox {
	position: relative;
	border-radius: 50%;
	width: 100%;
	height: auto;
	padding-top: 100%;
	background: white;
  }